.App {
  text-align: center;
  display: flex;
  min-height: 500px;
  justify-content: space-around;
}

.inputWrapper {
  display: flex;
  gap: 20px;
}

.todosWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.input {
  width: 200px;
  height: 50px;
  color: black;
  border-radius: 5px;
}

.btn {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: gray;
  color: aliceblue;
}

.text {
  font-size: 15px;
  color: black;
}